<div>

    <div class="row">
        <div class="col-md-9">
            <h3 class="">
                <b>שקשוקה עם מעט שמן </b>
            </h3>
            <h5>מס' מתכון :  190</h5>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    <h4>
                        <label class="label label-default" style="font-weight:normal;">
                            <b>מאת:</b>
                            אבירן אבו צדקה
                        </label>
                    </h4>
                    <div>
                        <div class="alert alert-success pull-right hide">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            You gave a rating of <span id="count">0</span> star(s)
                        </div>
                        <div>
                            <h5>דירוג  :</h5>
                            <div id="stars" class="starrr"></div>
                        </div>
                    </div>
                    <h5 class="">
                        <b>מצרכים למתכון :</b>
                    </h5>
                    <hr />
                    <ul>
                        <li>עגבניה - 10 יחידות בינוניות - סה&#34;כ (1.72 ק&#34;ג), בשלות וחתוכות לרצועות/קוביות.</li>
                        <li>פלפל אדום - יחידה בינונית (185 גרם), חתוך לרצועות/קוביות.</li>
                        <li>פלפל ירוק חריף - 1/2 יחידה בינונית - סה&#34;כ (41 גרם), אם אין - אפשר שבבי צ`ילי חריף.</li>
                        <li>שום - 2 שיניים, כתושות.</li>
                        <li>שמן זית - 2 כפות - סה&#34;כ (20 מ&#34;ל)</li>
                        <li>ביצה - 5 Large - סה&#34;כ (295 גרם)</li>
                        <li>פפריקה - 1/2 כפית שטוחה, מתוקה.</li>
                        <li>מלח - 3/4 כפית שטוחה</li>
                        <li>סוכר - 1/2 כפית שטוחה - סה&#34;כ (3 גרם)</li>
                        <li>קימל טחון - 1/2 כפית</li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <hr>
    

                    
                    
                    <h5 class="">
                        <b>אופן הכנת המתכון :</b>
                    </h5>
                    <hr />
                    <ul>
                        <li>1. במחבת גדולה לשים עגבניות + שמן.</li>
                        <li>2. להוסיף את שאר החומרים פרט לביצים.</li>
                        <li>3. לערבב מדי פעם. לאחר כ- 20 דקות לשבור את הביצים שלמות לתוך הרוטב, ולהמשיך לבשל עוד כ- 10 דקות.</li>
                        <li>4. כמובן אפשר להוסיף יותר שמן אבל לדעתי אין צורך. גם כך זה טעים.</li>
                        <li>5. בתיאבון (:</li>
                        <li>הערך התזונתי לא כולל את הקימל הטחון. בשקשוקה טריפוליטאית אין בצל - יש רק הרבה יותר שמן, וגם קצת יותר שום וחריף... שלי קצת יותר מעודנת ופחות שמן, הקימל הטחון נקרא גם כוריה וזה נותן את העקצוץ המיוחד, יש אותו גם בפלפל צ`ומה.</li>
                    </ul>

                </div>


            </div>
        </div>
        <div class="col-md-3 text-center">

            <br />
            <img src="http://st1.foodsd.co.il/Images/Recipes/Recipe-3968-oGwfeLnpXA.jpg" alt="..." class="img-thumbnail">
            <br /><br />
            <div class="btn-group btn-group-sm " role="group">
                <button type="button" class="btn btn-warning">קל</button>
                <button type="button" class="btn btn-default">מתקדם</button>
                <button type="button" class="btn btn-default">מאתגר</button>
            </div>

            <br /><br />
           
                        <table class="table table-bordered" style="font-size:x-small;">
                      <tr>
                          <th> סימון תזנותי</th>  
                          <th> למנה / ליחידה</th>  
                          <th> ל-100 גרם</th>  
                      </tr> 
                            <tr>
                                <td> קלוריות</td>
                                <td> 200</td>
                                <td> 132</td>
                            </tr> 
                            <tr>
                                <td> חלבונים</td>
                                <td> 22</td>
                                <td> 233</td>
                            </tr> 
                            <tr>
                                <td> פחמימות</td>
                                <td> 45</td>
                                <td> 67</td>
                            </tr> 
                         </table>

        </div>


        
            </div>

        </div>
